.buildings {
    margin-top: 10%;
    margin-left: 5%;
}
.building-name {
    width: 50px;
    text-wrap: normal;
    border: 1px solid black;
}
.axis {
    stroke:rgb(255,0,0);
    stroke-width:2
}
text {
    margin-left: 10px;
}
rect {
    background-color: chartreuse;
}
